################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Squash/copilot-chat/258b6c8d/sessions
/.vs/Squash/CopilotIndices/17.14.1561.44479
/.vs/Squash/DesignTimeBuild
/.vs/Squash/FileContentIndex
/.vs/Squash/v17
/Squash.API/bin/Debug/net8.0
/Squash.API/obj
/Squash.DataAccess/bin/Debug/net8.0
/Squash.DataAccess/obj
/Squash.Identity/bin/Debug/net8.0
/Squash.Identity/obj
/Squash.Processors/bin/Debug/net8.0
/Squash.Processors/obj
/Squash.Shared/bin/Debug/net8.0
/Squash.Shared/obj
/Squash.SqlServer/bin/Debug/net8.0
/Squash.SqlServer/obj
/Squash.Web/bin/Debug/net8.0
/Squash.Web/obj
/.vs/Squash/config
/example
/.vs/ProjectEvaluation
/Squash.Web/wwwroot/coreui
/.vs/CopilotSnapshots/1B6EA3DFE2ABCB4A9D8D467EDB195260
/obj
/.vs/CopilotSnapshots/62B79DBA9383DA4887492D79110CD23C

/.vs/CopilotSnapshots/E98C771B01B1E2438A686AFF65A43E91
