@model Squash.Web.Areas.Public.Models.RegisterConfirmationViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    Model.Title = Localizer["Title"].Value;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row auth-card">
                <div class="card col-12 auth-left mb-0">
                    <div class="card-body">
                        <h1>@Localizer["Title"]</h1>
                        <p class="text-body-secondary">@Localizer["MessagePrimary"]</p>
                        <p>@Localizer["MessageSecondary"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
